h1 {
    color:mediumseagreen;
}
.box1 {
    background-color: blue;
    height: 50px;
    border: 1px solid black;
}
.box2 {
    background-color: red;
    height: 50px;
    border: 1px solid black;
}
.box3 {
    background-color: green;
    height: 50px;
    border: 1px solid black;
}